@import "../../lib/fragment/yo-number";
@include yo-number(
    $width: 1rem,
    $height: .25rem
    
);
#q-car{
    height: 100%;
    width: 100%;
    background: #fafafa;
    @include flexbox();//盒子
    @include flex-direction(column);//纵向排列
    .q-header{
        width: 100%;
        height: 0.56rem;
        background: #fff;
        @include border(0 0 1px 0, #eee); //1像素边框
        @include flexbox();
        span{
            @include flex();
            line-height: 0.56rem;
            text-align: center;
            font-size: 0.17rem;
            display: block;
        }
    }
    .q-carContent{
        @include flex();
        width: 100%;
        section{
            width: 100%;
            height: 100%;
            @include flexbox();
            ul{
                width: 100%;
                @include flexbox();
                @include flex-direction(column);//纵向排列
                li{
                    width: 100%;
                    margin-top: .08rem;
                    background: red;
                    @include flexbox();
                    .q-topBox{
                        width: 100%;
                        height: 1.04rem;
                        @include border(0 0 1px 0, #d6d6d6);
                        @include flex();
                        @include flexbox();
                        .q-left{
                            width: 1.02rem;
//                          height: 100%;
                            .q-carImg{
                                width: .7rem;
                                height: .7rem;
                                margin: .16rem .16rem 0 .16rem;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        .q-right{
                            width: 100%;
                            height: 100%;
                            @include flex();
                            p{
                                width: 100%;
                                height: .48rem;
                                line-height: .48rem;
                                @include ellipsis(100%, 1);//文本溢出
                                text-indent: .12rem;//首行缩进
                            }
                            .q-money{
                                width: 100%;
                                @include flex();
                                @include flexbox();
                                @include justify-content(space-between);
                                del{
                                    display: block;
                                    height: 100%;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
