section{
    header{
        height: 0.44rem;
        background: $base-color;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        font-size: .26rem;
        color: red;
        font-weight: bolder;
    }
}
