

#d-dd{
    width: 100%;
    height: 100%;
//  @include flexbox();
//上方指针处 
.d-top{
    width:100%;height:2.3rem;
@include flexbox();
    position: relative;
    .d-topImg{
        width: 100%;
        @include flex();
        div img{
            width: 100%;
            height:2.3rem;
            position:absolute;
            top:0;
            left:0
        }
    }
    p{display: block;
          width: .70rem;
          height: .30rem;
          text-align: center;
          line-height: .30rem;
          font-size:.24rem;
          color:#fff;
        position:absolute;
          bottom: .80rem;
          left: 50%;
          margin-left: -.35rem;
          }

    }
    
//  信用额度
.d-xin{
     width:100%;height:.4rem;
     background:#fff;
      p{
         display: block;
         width:50%;
         height:.4rem;
         float: left;
         line-height: .4rem;
         font-size:.17rem;
         text-align: center;
         .d-span1{
                  color:#A1A1A1;
         }
         .d-span2{
                  color:#B4315D;
         }
     }
     p:nth-child(1){border-right:1px solid #eee;}
}

//我的订单
.d-wo{
    margin-top:.1rem;
    width:100%;
    height:.6rem;
    background:#fff;
   ul{
       width:100%;
       li{
           float:left;
           display: block;
           width:20%;
           height:.6rem;
           text-align: center;
           img{
               display:block;
               width:.4rem;height:.4rem;
               margin-left:18%;
              
           }
           
       }
       li:nth-child(3){
               border-right:1px solid #eee;
               
           }
       li:nth-child(4){
               position: relative;
            .d-biao{
                position:absolute;
                top:.01rem;left:.35rem;
                width:.2rem;height:.2rem;
                border-radius: 50%;
                background:#F3537F;
                color:#fff;
            }   
           }
           li:nth-child(5){
               position: relative;
            .d-zhu{
                position:absolute;
                top:.01rem;left:.35rem;
                width:.2rem;height:.2rem;
                border-radius: 50%;
                background:#F3537F;
                color:#fff;
            }   
           }
   }
}

//列表处
.d-lie{
    margin-top:.1rem;
    width:100%;
    

    background:#fff;
    ul{
//      height:4rem;
         border-bottom:2px solid #eee;
        li{
            width:100%;height:.6rem;
            border-top:2px solid #eee;
            font-size: .19rem; 
            line-height: .6rem;
            img{                              
                width:.4rem;height:.4rem;
            }
            .d-dan{
                margin-left:.15rem;
            }
            .d-mimg{
                display:inline-block;
                margin-left:50%;
                width:.25rem;height:.25rem;
            }
        }
//      li:nth-child(5){
//           margin-top:.2rem;
//          height:.6rem;
//      }
    }
}
}
