


section{
    width:100%;
    height:100%;
    background:#fff;
    //信息认证
   .d-top{
        width:100%;
        height:.70rem;
        background:#fff;
        position: relative;
        img{
            width:.28rem;
            height:.30rem;
            position: absolute;
            left:.2rem;
            top:50%;
            margin-top:-.15rem;
            
        }
        span{
            font-size: .26rem; 
            line-height: .70rem;
            position:absolute;
            left:36%;
           
        }
     }
     
     //认证提示
     .d-ti{
         width:100%;
         height:.48rem;
         line-height: .48rem;
         text-align: center;
         background:#FAFAFA;
     }
     
     //各种认证处
     .d-ge{
         ul{
             li{
                 background: #fff;
                 display: block;
                 width:100%;
                 height:.56rem;
                 border-bottom: 2px solid #eee;
                 line-height: .54rem;
                 span{
                     display: block;
                     float: left;
                     font-size: .2rem;
                     width:1.2rem;
                     margin-left:.2rem;
                 }
                 input{
                     float: left;
                     border:none;
                     font-size: .2rem;
                     display: block;
                     width:1.6rem;
                     height:.54rem;
                    
                     
                 }
                 
             }
             li:nth-child(3){
                 position:relative;
                 img{
                     position:absolute;
                     right:.3rem;
                     top:.12rem;
                     width:.35rem;
                     height:.35rem;
                 }
             }
              li:nth-child(5){
                  position:relative;
                  span{
                      a{
                          position: absolute;
                          color:black;
                          right:.5rem;
                      }
                      img{
                            width:.18rem;
                            height:.20rem;
                            position: absolute;
                            right:.25rem;
                            top:50%;
                            margin-top:-.10rem;

                      }
                  }
              }
              li:nth-child(6){
                   position:relative;
                  p{
                        display: block;
                        position: absolute;
                        right:.05rem;
                        top:.1rem;
                        font-size:.18rem ;
                        width:.7rem;
                        height:.4rem;
                        border:2px solid #eee;
                        border-radius: .1rem;
                       font-size: .10rem;
                       line-height:.36rem;
                       text-align: center;
                       color:#A9A9A9;
                        
                   }
              }
         }
     }
     
     //确定
     .d-que{
         margin:0 auto;
         margin-top:.2rem;
         width:3.5rem;
         height:.44rem;
         background:#F54B78;
         border-radius: .05rem;
         color:#fff;
         font-size:.2rem;
         text-align: center;
         line-height: .44rem; 
     }
    
    //底部
    .d-di{
        margin-top:.3rem;
        width:100%;
        height:1.5rem;
        background:url("/myProject/images/myImg/di.jpg") no-repeat;
        background-size:contain;
       
       
    }
}