$base-color: #f54b78;

@font-face {
  font-family: yofont;
  src: url("/myProject/images/iconfont/iconfont.woff") format("woff"), url("/myProject/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/myProject/images/iconfont/iconfont-menu.woff") format("woff"), url("/myProject/images/iconfont/iconfont-menu.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/myProject/images/iconfont/iconfont-foot.woff") format("woff"), url("/myProject/images/iconfont/iconfont-foot.ttf") format("truetype");
}